aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
apturl==0.5.2
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
blinker==1.4
Brlapi==0.7.0
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.3
command-not-found==0.3
contourpy==1.0.7
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
decorator==5.0.9
defer==1.0.6
defusedxml==0.7.1
diffusers @ git+https://github.com/ShivamShrirao/diffusers@ec24e54a9851474458a6e7ad801f907eba89d867
distro==1.4.0
distro-info===0.23ubuntu1
entrypoints==0.4
fastapi==0.95.0
ffmpy==0.3.0
filelock==3.10.0
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.3.0
gradio==3.22.1
h11==0.14.0
httpcore==0.16.3
httplib2==0.14.0
httpx==0.23.3
huggingface-hub==0.13.2
idna==2.8
importlib-metadata==6.1.0
importlib-resources==5.12.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.1.2
json5==0.9.5
jsonschema==4.17.3
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
keyring==18.0.1
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
linkify-it-py==2.0.0
louis==3.12.0
macaroonbakery==1.3.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.2
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==0.8.4
multidict==6.0.4
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
notebook==6.4.0
numpy==1.24.2
oauthlib==3.1.0
olefile==0.46
orjson==3.8.7
outcome==1.1.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.4.0
pip-autoremove==0.9.1
pkgutil_resolve_name==1.3.10
prometheus-client==0.11.0
prompt-toolkit==3.0.18
protobuf==3.6.1
ptyprocess==0.7.0
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydantic==1.10.6
pydub==0.25.1
Pygments==2.9.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.19.3
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-multipart==0.0.6
pytz==2022.7.1
pyxdg==0.26
PyYAML==6.0
pyzmq==22.1.0
regex==2022.10.31
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
scipy==1.10.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
selenium==4.1.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
ssh-import-id==5.10
starlette==0.26.1
systemd-python==234
terminado==0.10.1
testpath==0.5.0
tokenizers==0.13.2
toolz==0.12.0
tornado==6.1
tqdm==4.65.0
traitlets==5.0.5
transformers==4.27.1
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.5.0
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.8
uvicorn==0.21.1
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
websockets==10.4
wsproto==1.0.0
xkit==0.0.0
yarl==1.8.2
zipp==3.15.0
